reveal.js/MathJax/
reveal.js/*.log
figures/gnuplot/*png
figures/tex/*aux
figures/tex/*dvi
figures/tex/*log
figures/tex/*pdf
figures/tex/*ps
.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
*.swp

# Shamir Secret Sharing Scala API
sss-api/project/project/
sss-api/project/target/
sss-api/target/
sss-api/demo/shares.json
